@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="container">
        <div id="carouselExampleIndicators" class="slide full-width-slider carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <a class="carousel-item active" asp-controller="Home" asp-action="Eyes" style="background-image: url('https://hasta112.com/cloudpro/hospital-network/1763/upload/1ubiHf.jpg')">
                </a>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <a class="carousel-item" asp-controller="Home" asp-action="CheckUp" style="background-image: url('https://hasta112.com/cloudpro/hospital-network/1763/upload/OLAURq.jpg')">
                </a>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://hasta112.com/cloudpro/hospital-network/1763/upload/cpaiBA.jpg')">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</header>
